.accueil {
  margin: 0 10%;

  .img-container {
    @include flex(column, "", center, center);
    margin: 15vh auto 0;
    height: 30vh;

    img {
      height: 100%;
    }
  }

  h1 {
    margin: 20px auto 50px;
    font-family: $edwa;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 6.5rem;
  }
  .choice-container {
    @include grid(50% 50%, 100%, center, center);
    height: 30vh;
  }
}
