.form-choice {
  height: 10vh;
  @include grid(50% 50%, 100%, center, top);
  margin: 10vh auto 50px;
  width: 90%;
  text-align: center;

  .category-container {
    position: relative;
    @include flex("", "", center, center);
    align-items: center;
    height: 80%;
    padding: 10px;
    color: $white1;
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.3s ease;

    &:hover {
      background: $grey1;

      h3 {
        text-shadow: 0 2px 3px $grey3;

        &:after {
          box-shadow: 0 3px 3px $shadow;
        }
      }
    }
  }

  .individual {
    border-radius: 10px 0 0 10px;
    background: $blue1;

    &:hover {
      transform: translateX(-20px);
      border-radius: 10px 10px 10px 10px;
    }
  }

  .company {
    border-radius: 0 10px 10px 0;
    background: $blue2;

    &:hover {
      transform: translateX(+20px);
      border-radius: 10px 10px 10px 10px;
    }
  }

  h3 {
    position: relative;
    padding: 10px;
    transition: 0.2s ease;

    &:after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background: $white1;
      bottom: 0;
      left: 0;
      transition: 0.2s ease;
    }
  }
}

.formDisplayer {
  width: 90%;
  margin: 0 auto;

  .form-closer {
    position: relative;
    padding: 0;
    height: 50px;
    width: 50px;
    margin-left: 95%;
    border: none;
    background: $white3;

    &:hover {
      .first-bar {
        background: $blue2;
        height: 50px;
        transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
      }

      .second-bar {
        background: $blue2;
        height: 50px;
        transform: translateX(-500%) translateY(-50%) rotateZ(225deg);
      }
    }

    .first-bar {
      position: absolute;
      height: 40px;
      width: 5px;
      background: $grey1;
      right: 0;
      transform: translateX(-500%) translateY(-50%) rotateZ(45deg);
      border-radius: 5px;
      transition: 0.5s ease;
    }

    .second-bar {
      position: absolute;
      height: 40px;
      width: 5px;
      background: $grey1;
      right: 0;
      transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
      border-radius: 5px;
      transition: 0.5s ease;
    }
  }
}
