.accueil {
  margin: 0 10%;

  .img-container {
    @include flex(column, "", center, center);
    margin: 15vh auto 0;
    height: 30vh;

    img {
      margin: 0 auto;
      height: 100%;
      width: auto;
    }
  }

  h1 {
    margin: 10vh auto 10vh;
    font-family: $edwa;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 5rem;
  }
  .choice-container {
    @include grid(50% 50%, 100%, center, center);
    height: 10vh;
    margin: 0 auto;

    a {
      @include flex(column, "", center, center);
      cursor: pointer;
      transition: 0.2s ease;

      h2 {
        color: $white1;
        font-size: 1rem;
        letter-spacing: 5px;
        transition: 0.3s ease;
      }

      &:hover {
        h2 {
          text-shadow: 0 0 10px $white1;
        }
      }
    }

    .individual {
      background: $blue1;
      border-radius: 10px 0 0 10px;
      height: 100%;

      &:hover {
        border-radius: 15px 0 0 15px;
      }
    }

    .company {
      background: $blue2;
      border-radius: 0 10px 10px 0;
      height: 100%;

      &:hover {
        border-radius: 0 15px 15px 0;
      }
    }
  }
}
