.presentation-individual {
  margin-top: 10vh;

  h2 {
    margin: 70px auto 50px auto;
    padding-bottom: 10px;
    border-bottom: 3px solid $blue1;
  }

  p {
    position: relative;
    margin: 2vh 20%;
    border-radius: 10px;
    padding: 40px;
    background: $white1;
    color: $grey3;
    font-family: $montM;
    text-align: center;
    line-height: 35px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.1rem;
    box-shadow: 0 3px 5px $shadow;

    &:after {
      position: absolute;
      content: "";
      border-right: 3px solid $white2;
      border-bottom: 3px solid $white2;
      border-radius: 0 3px 7px 3px;
      height: 30px;
      width: 45px;
      bottom: 7px;
      right: 7px;
      transition: 0.5s ease;
    }

    &:hover {
      &:after {
        border-right: 3px solid $blue1;
        border-bottom: 3px solid $blue1;
        height: 40px;
        width: 80px;
      }
    }
  }

  .img-container {
    @include flex(column, "", center, center);
    margin: 30px 0;
    height: 40vh;

    .img {
      position: relative;
      width: 75%;
      height: 100%;
      border-radius: 10px;
      transition: 0.4s ease;
      box-shadow: 0 3px 5px $shadowL;

      &:hover {
        border-radius: 30px;
        box-shadow: 0 3px 5px $shadowL;

        &:after {
          animation: drift 1s linear forwards;
        }
      }

      &:after {
        position: absolute;
        content: "";
      }
    }

    .img1 {
      background: url("../../assets/img/00-impots.jpeg") center/cover;
    }
    .img2 {
      background: url("../../assets/img/00-happy-guy.jpeg") top/cover;
    }
    .img3 {
      background: url("../../assets/img/00-old-tired-woman.jpeg") center/cover;
    }
    .img4 {
      background: url("../../assets/img/00-old-happy-woman.jpeg") center/cover;
    }
    .img5 {
      background: url("../../assets/img/00-worried-man.jpeg") top/cover;
    }
    .img6 {
      background: url("../../assets/img/00-money.jpeg") top/cover;
    }
  }
}
