.form-container {
  height: 83vh;
  @include grid(50% 50%, 100%, center, top);
  margin: 0 auto;
  width: 90%;
  text-align: center;

  .category-container {
    margin-top: 5%;
    position: relative;
    @include flex("", "", center, center);
    align-items: center;
    height: 50%;
    padding: 10px;
    color: $white1;
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.2s ease;

    &:hover {
      background: $grey1;

      h3 {
        text-shadow: 0 2px 3px $grey3;

        &:hover:after {
          text-shadow: 0 2px 3px $grey3;
        }
      }
    }
  }

  .customer {
    background: $blue1;
  }

  .company {
    background: $blue2;
  }

  h3 {
    position: relative;
    padding: 10px;
    transition: 0.2s ease;

    &:after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background: $white1;
      bottom: 0;
      left: 0;
      transition: 0.2s ease;
    }
  }
}
