.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 7vh;
  @include grid(35% 60% 5%, 100%, "", center);
  background: $white1;
  box-shadow: 0 2px 3px $shadow;

  .logo-container {
    height: 100%;
    @include flex("", "", "", center);

    img {
      max-height: 80%;
      padding: 10px;
      transition: 0.3s ease;

      &:hover {
        transform: translateX(10px);
      }
    }
  }

  .navigation {
    padding: 0;
    text-align: center;
    height: 100%;

    .btn-container {
      position: relative;
      @include grid(25% 25% 25% 25%, 100%, "", center);
      margin: 0;
      padding: 0;
      height: 100%;
      list-style: none;
      z-index: 1;

      .nav-btn {
        position: relative;
        @include flex("", "", center, center);
        height: 100%;
        border-bottom: 2px solid $translucent;
        opacity: 1;
        z-index: 1;
        transition: 2s ease;

        li {
          font-family: $montM;
          font-size: 1.1rem;
          text-transform: uppercase;
        }

        &:hover {
          .subtn-container {
            z-index: 0;
            animation: inOut 0.3s forwards;
            /*opacity: 1;
            transform: translateY(0);*/
          }
        }
      }

      .subtn-container {
        position: absolute;
        @include flex(column, "", "", center);
        margin: 0;
        padding: 0;
        height: 14vh;
        width: 100%;
        top: 7vh;
        list-style: none;
        opacity: 0;
        box-shadow: 0 3px 3px $shadow;
        border-radius: 0 0 10px 10px;
        transform: translateY(-14vh);
        z-index: 1;

        .subtn {
          @include flex(column, "", center, center);
          height: 100%;
          width: 100%;
          background: $white1;
          transition: 0.2s ease;

          &:hover {
            color: $blue1;
            text-shadow: 0 1px 3px $shadow;
          }

          &:last-child {
            border-radius: 0 0 10px 10px;
          }
        }
      }
    }
  }
}

@keyframes inOut {
  0% {
    opacity: 0;
    box-shadow: 0 3px 3px $translucent;
    border-radius: 0 0 10px 10px;
    transform: translateY(-14vh);
  }
  30% {
    opacity: 0;
    transform: translateY(-14vh);
  }
  50% {
    box-shadow: 0 3px 3px $translucent;
    border-radius: 0 0 10px 10px;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    box-shadow: 0 3px 3px $shadow;
    border-radius: 0 0 10px 10px;
    transform: translateY(0);
  }
}
