// Generals //

// Variables //

// Fonts ->

@font-face {
  font-family: "montserrat-light";
  src: url("../assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}

$montL: "montserrat-light";
$montM: "montserrat-medium";

// Colors ->

$white1: rgb(255, 255, 255);
$white2: rgb(241, 241, 241);
$white3: rgb(227, 227, 227);

$grey1: rgb(175, 175, 175);
$grey2: rgb(122, 122, 122);
$grey3: rgb(88, 88, 88);

$black1: rgb(27, 27, 27);
$black2: rgb(17, 17, 17);

$blue1: rgb(39, 51, 136);
$blue2: rgb(23, 29, 76);

$shadow: rgba(122, 122, 122, 0.504);
$shadowL: rgba(122, 122, 122, 0.775);
$translucent: rgba(0, 0, 0, 0);

// @MIXIN //

// -> Flex

@mixin flex($d, $w, $jc, $ai) {
  display: flex;
  flex-direction: $d;
  flex-wrap: $w;
  justify-content: $jc;
  align-items: $ai;
}

// -> Grid

@mixin grid($gtc, $gtr, $jc, $ai) {
  display: grid;
  grid-template-columns: $gtc;
  grid-template-rows: $gtr;
  justify-content: $jc;
  align-items: $ai;
}

// -> Background Animation

@keyframes growAndReduce1 {
  50% {
    transform: scale(1.1) /*translate(-20px, -20px)*/;
  }
}

// Effects classes //
.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

// -> General style

body {
  margin: 0;
  padding: 0;
  display: block;
  background: $white3;
  font-family: $montL;
  user-select: none;
}

::-webkit-scrollbar-thumb {
  color: $blue1;
  width: 5px;
}
::-webkit-scrollbar-track {
  color: $blue1;
}

a {
  text-decoration: none;
  color: $grey2;

  &:visited {
    color: $grey2;
  }

  &:focus {
    color: $grey2;
  }
}

h2 {
  font-family: $montL;
}
