// General //

@import "./settings";

// Pages //
@import "./pages/contact";
@import "./pages/prestations";
@import "./pages/prices";
@import "./pages/contact";
@import "./pages/notfound";

// Components //
@import "./components/header";
@import "./components/formCompany";
@import "./components/formIndividual";
