@font-face {
  font-family: "montserrat-light";
  src: url("../assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}

@-webkit-keyframes growAndReduce1 {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes growAndReduce1 {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background: #e3e3e3;
  font-family: "montserrat-light";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
  color: #7a7a7a;
}

a:visited {
  color: #7a7a7a;
}

a:focus {
  color: #7a7a7a;
}

h2 {
  font-family: "montserrat-light";
}

.presentation h2 {
  margin: 70px auto 50px auto;
  padding-bottom: 10px;
  border-bottom: 3px solid #273388;
}

p {
  font-family: "montserrat-medium";
  padding: 10px;
  background: white;
  color: #585858;
  position: relative;
  width: 90%;
  margin: 0 auto 30px;
  text-align: left;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
}

.form-choice {
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin: 50px auto;
  width: 90%;
  text-align: center;
}

.form-choice .category-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  height: 80%;
  padding: 10px;
  color: white;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-choice .category-container:hover {
  background: #afafaf;
}

.form-choice .category-container:hover h3 {
  text-shadow: 0 2px 3px #585858;
}

.form-choice .category-container:hover h3:hover:after {
  text-shadow: 0 3px 3px #585858;
}

.form-choice .individual {
  border-radius: 10px 0 0 10px;
  background: #273388;
}

.form-choice .individual:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  border-radius: 10px 10px 10px 10px;
}

.form-choice .company {
  border-radius: 0 10px 10px 0;
  background: #171d4c;
}

.form-choice .company:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  border-radius: 10px 10px 10px 10px;
}

.form-choice h3 {
  position: relative;
  padding: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-choice h3:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: white;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.formDisplayer {
  width: 90%;
  margin: 0 auto;
}

.formDisplayer .form-closer {
  position: relative;
  padding: 0;
  height: 50px;
  width: 50px;
  margin-left: 95%;
  border: none;
  background: #e3e3e3;
}

.formDisplayer .form-closer:hover .first-bar {
  background: #171d4c;
  height: 50px;
  -webkit-transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
          transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
}

.formDisplayer .form-closer:hover .second-bar {
  background: #171d4c;
  height: 50px;
  -webkit-transform: translateX(-500%) translateY(-50%) rotateZ(225deg);
          transform: translateX(-500%) translateY(-50%) rotateZ(225deg);
}

.formDisplayer .form-closer .first-bar {
  position: absolute;
  height: 40px;
  width: 5px;
  background: #afafaf;
  right: 0;
  -webkit-transform: translateX(-500%) translateY(-50%) rotateZ(45deg);
          transform: translateX(-500%) translateY(-50%) rotateZ(45deg);
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.formDisplayer .form-closer .second-bar {
  position: absolute;
  height: 40px;
  width: 5px;
  background: #afafaf;
  right: 0;
  -webkit-transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
          transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 130%;
}

.tarif-container {
  height: 80vh;
  margin: 0 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 34% 33%;
      grid-template-columns: 33% 34% 33%;
  -ms-grid-rows: "";
      grid-template-rows: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarif-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  background: white;
}

.tarif-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-left: 2px solid #afafaf;
  border-bottom: 2px solid #afafaf;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.tarif-container ul li:first-child {
  border-top: 2px solid #afafaf;
}

.tarif-container ul li:hover {
  background: #171d4c;
  color: white;
}

.tarif-container ul:last-child {
  border-right: 2px solid #afafaf;
}

.form-choice {
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin: 50px auto;
  width: 90%;
  text-align: center;
}

.form-choice .category-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  height: 80%;
  padding: 10px;
  color: white;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-choice .category-container:hover {
  background: #afafaf;
}

.form-choice .category-container:hover h3 {
  text-shadow: 0 2px 3px #585858;
}

.form-choice .category-container:hover h3:hover:after {
  text-shadow: 0 3px 3px #585858;
}

.form-choice .individual {
  border-radius: 10px 0 0 10px;
  background: #273388;
}

.form-choice .individual:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  border-radius: 10px 10px 10px 10px;
}

.form-choice .company {
  border-radius: 0 10px 10px 0;
  background: #171d4c;
}

.form-choice .company:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  border-radius: 10px 10px 10px 10px;
}

.form-choice h3 {
  position: relative;
  padding: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-choice h3:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: white;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.formDisplayer {
  width: 90%;
  margin: 0 auto;
}

.formDisplayer .form-closer {
  position: relative;
  padding: 0;
  height: 50px;
  width: 50px;
  margin-left: 95%;
  border: none;
  background: #e3e3e3;
}

.formDisplayer .form-closer:hover .first-bar {
  background: #171d4c;
  height: 50px;
  -webkit-transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
          transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
}

.formDisplayer .form-closer:hover .second-bar {
  background: #171d4c;
  height: 50px;
  -webkit-transform: translateX(-500%) translateY(-50%) rotateZ(225deg);
          transform: translateX(-500%) translateY(-50%) rotateZ(225deg);
}

.formDisplayer .form-closer .first-bar {
  position: absolute;
  height: 40px;
  width: 5px;
  background: #afafaf;
  right: 0;
  -webkit-transform: translateX(-500%) translateY(-50%) rotateZ(45deg);
          transform: translateX(-500%) translateY(-50%) rotateZ(45deg);
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.formDisplayer .form-closer .second-bar {
  position: absolute;
  height: 40px;
  width: 5px;
  background: #afafaf;
  right: 0;
  -webkit-transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
          transform: translateX(-500%) translateY(-50%) rotateZ(135deg);
  border-radius: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header-container {
  position: relative;
  height: 7vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.header-container .logo-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .logo-container img {
  max-height: 80%;
  padding: 10px;
}

.header-container .nav-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
}

.header-container .nav-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  font-size: 1.1rem;
  letter-spacing: 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.header-container .nav-container a:hover {
  border-bottom: 2px solid #afafaf;
}

.header-container .nav-container a:hover div {
  text-shadow: 0 2px 3px rgba(122, 122, 122, 0.504);
}

.header-container .nav-container a div {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-family: "montserrat-medium";
  font-weight: 400;
}
/*# sourceMappingURL=index.css.map */