@font-face {
  font-family: "montserrat-light";
  src: url("../assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "edwardian-script";
  src: url("../assets/fonts/ITCEDSCR.TTF");
}

@-webkit-keyframes growAndReduce1 {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes growAndReduce1 {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background: #e3e3e3;
  font-family: "montserrat-light";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  background: none;
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #273388;
  border-radius: 10px;
}

*::-moz-selection {
  background: #273388;
  color: white;
}

*::selection {
  background: #273388;
  color: white;
}

a {
  text-decoration: none;
  color: #7a7a7a;
}

a:visited {
  color: #7a7a7a;
}

a:focus {
  color: #7a7a7a;
}

h2 {
  font-family: "montserrat-light";
}

.form-message {
  height: 10px;
}

.form-message p {
  padding: 10px;
}

.form-message .success {
  background: green;
  color: white;
}

.form-message .error {
  background: green;
  color: white;
}

.accueil {
  margin: 0 10%;
}

.accueil .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15vh auto 0;
  height: 30vh;
}

.accueil .img-container img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.accueil h1 {
  margin: 10vh auto 10vh;
  font-family: "edwardian-script";
  text-align: center;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 5rem;
}

.accueil .choice-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  margin: 0 auto;
}

.accueil .choice-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.accueil .choice-container a h2 {
  color: white;
  font-size: 1rem;
  letter-spacing: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.accueil .choice-container a:hover h2 {
  text-shadow: 0 0 10px white;
}

.accueil .choice-container .individual {
  background: #273388;
  border-radius: 10px 0 0 10px;
  height: 100%;
}

.accueil .choice-container .individual:hover {
  border-radius: 15px 0 0 15px;
}

.accueil .choice-container .company {
  background: #171d4c;
  border-radius: 0 10px 10px 0;
  height: 100%;
}

.accueil .choice-container .company:hover {
  border-radius: 0 15px 15px 0;
}

.presentation-company {
  margin-top: 10vh;
}

.presentation-company h2 {
  margin: 70px auto 50px auto;
  padding-bottom: 10px;
  border-bottom: 3px solid #273388;
}

.presentation-company p {
  position: relative;
  margin: 0 20%;
  border-radius: 10px;
  padding: 40px;
  background: white;
  color: #585858;
  font-family: "montserrat-medium";
  text-align: center;
  line-height: 35px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
}

.presentation-company p:after {
  position: absolute;
  content: "";
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  border-radius: 0 3px 7px 3px;
  height: 30px;
  width: 45px;
  bottom: 7px;
  right: 7px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.presentation-company p:hover:after {
  border-right: 3px solid #273388;
  border-bottom: 3px solid #273388;
  height: 40px;
  width: 80px;
}

.presentation-company .p3 {
  text-align: left;
}

.presentation-company .p4 {
  margin-bottom: 5vh;
  font-size: 1.2rem;
}

.presentation-company .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20%;
  height: 75vh;
}

.presentation-company .img-container .img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.775);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.775);
}

.presentation-company .img-container .img:hover {
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.775);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.775);
}

.presentation-company .img-container .img:hover:after {
  -webkit-animation: drift 1s linear forwards;
          animation: drift 1s linear forwards;
}

.presentation-company .img-container .img:after {
  position: absolute;
  content: "";
}

.presentation-company .img-container .img1 {
  background: url("../../assets/img/00-red-sky.jpg") bottom/cover;
}

.presentation-company .img-container .img2 {
  background: url("../../assets/img/00-festival.jpg") bottom/cover;
}

.presentation-company .img-container .img3 {
  background: url("../../assets/img/00-thinking.jpg") center/cover;
}

.presentation-company .img-container .img4 {
  background: url("../../assets/img/00-react.jpeg") center/cover;
}

.presentation-individual {
  margin-top: 10vh;
}

.presentation-individual h2 {
  margin: 70px auto 50px auto;
  padding-bottom: 10px;
  border-bottom: 3px solid #273388;
}

.presentation-individual p {
  position: relative;
  margin: 2vh 20%;
  border-radius: 10px;
  padding: 40px;
  background: white;
  color: #585858;
  font-family: "montserrat-medium";
  text-align: center;
  line-height: 35px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
}

.presentation-individual p:after {
  position: absolute;
  content: "";
  border-right: 3px solid #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  border-radius: 0 3px 7px 3px;
  height: 30px;
  width: 45px;
  bottom: 7px;
  right: 7px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.presentation-individual p:hover:after {
  border-right: 3px solid #273388;
  border-bottom: 3px solid #273388;
  height: 40px;
  width: 80px;
}

.presentation-individual .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  height: 40vh;
}

.presentation-individual .img-container .img {
  position: relative;
  width: 75%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.775);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.775);
}

.presentation-individual .img-container .img:hover {
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.775);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.775);
}

.presentation-individual .img-container .img:hover:after {
  -webkit-animation: drift 1s linear forwards;
          animation: drift 1s linear forwards;
}

.presentation-individual .img-container .img:after {
  position: absolute;
  content: "";
}

.presentation-individual .img-container .img1 {
  background: url("../../assets/img/00-impots.jpeg") center/cover;
}

.presentation-individual .img-container .img2 {
  background: url("../../assets/img/00-happy-guy.jpeg") top/cover;
}

.presentation-individual .img-container .img3 {
  background: url("../../assets/img/00-old-tired-woman.jpeg") center/cover;
}

.presentation-individual .img-container .img4 {
  background: url("../../assets/img/00-old-happy-woman.jpeg") center/cover;
}

.presentation-individual .img-container .img5 {
  background: url("../../assets/img/00-worried-man.jpeg") top/cover;
}

.presentation-individual .img-container .img6 {
  background: url("../../assets/img/00-money.jpeg") top/cover;
}

body {
  margin-top: 10vh;
}

h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 130%;
}

.tarif-container {
  height: 80vh;
  margin: 0 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 34% 33%;
      grid-template-columns: 33% 34% 33%;
  -ms-grid-rows: "";
      grid-template-rows: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarif-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  background: white;
}

.tarif-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-left: 2px solid #afafaf;
  border-bottom: 2px solid #afafaf;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.tarif-container ul li:first-child {
  border-top: 2px solid #afafaf;
}

.tarif-container ul li:hover {
  background: #171d4c;
  color: white;
}

.tarif-container ul:last-child {
  border-right: 2px solid #afafaf;
}

.form-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: "";
      grid-template-rows: "";
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  margin: -20px auto;
  max-width: 800px;
}

.form-content .company-infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: "";
      grid-template-rows: "";
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  list-style: none;
  text-align: left;
  background: white;
  margin: 10px 0 1vh 0;
  border-top: 2px solid #273388;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
}

.form-content .company-infos h3 {
  display: block;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 10px 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-content .company-infos:hover h3 {
  color: #273388;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.form-content .company-infos li {
  width: 100%;
  margin: 0 auto;
}

.form-content .company-infos li label {
  display: block;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px 0 0;
  width: 95%;
  font-weight: 600;
  color: #171d4c;
  font-family: "montserrat-medium";
  letter-spacing: 2px;
}

.form-content .company-infos li input {
  display: block;
  width: 95%;
  margin: 0 auto 10px;
  border: none;
  border-bottom: 1px solid #afafaf;
  outline: none;
  padding: 10px 5px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
  font-size: 1rem;
  font-family: "montserrat-light";
  font-weight: 600;
  letter-spacing: 1px;
  color: #171d4c;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-content .company-infos li input:hover {
  border-radius: 5px 5px 0 0;
  background: #f1f1f1;
}

.form-content .company-infos li input:focus {
  padding: 10px 5px;
  border-bottom: 1px solid #273388;
  color: #273388;
}

.form-content .company-infos .address {
  width: 99%;
  margin: 10px auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: "";
      grid-template-rows: "";
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  list-style: none;
  text-align: left;
}

.form-content .company-infos .address li {
  width: 97%;
  margin: 10px;
}

.form-content .company-infos #mess {
  display: block;
  margin: 10px auto;
  border: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #afafaf;
  border-radius: 5px;
  padding: 5px 10px;
  resize: none;
  width: 93%;
  height: 100px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-size: 1rem;
  font-family: "montserrat-medium";
  color: #273388;
  outline: none;
}

.form-content .company-infos #mess:hover {
  background: #f1f1f1;
}

.form-content .company-infos #mess:focus {
  border: 1px solid #273388;
  border-radius: 10px;
  outline: none;
  color: #585858;
}

.form-content .company-infos .submit-btn {
  width: 25%;
  margin: 20px auto;
  border: 2px solid #273388;
  border-radius: 10px;
  padding: 10px 5px;
  background: white;
  color: #171d4c;
  font-family: "montserrat-light";
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-content .company-infos .submit-btn:hover {
  border: 2px solid white;
  background: #171d4c;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 0 3px 5px #273388;
          box-shadow: 0 3px 5px #273388;
  text-shadow: 0 0 5px white;
}

.form-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: "";
      grid-template-rows: "";
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  margin: -20px auto;
  max-width: 800px;
}

.form-content h2 {
  font-size: 1.5rem;
  color: #273388;
}

.form-content .individual-infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: "";
      grid-template-rows: "";
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  list-style: none;
  text-align: left;
  background: white;
  margin: 10px 0 1vh 0;
  border-top: 2px solid #273388;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
          box-shadow: 0 3px 5px rgba(122, 122, 122, 0.504);
}

.form-content .individual-infos h3 {
  display: block;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 10px 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-content .individual-infos:hover h3 {
  color: #273388;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.form-content .individual-infos li {
  width: 100%;
  margin: 0 auto;
}

.form-content .individual-infos li label {
  display: block;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px 0 0;
  width: 95%;
  font-weight: 600;
  color: #171d4c;
  font-family: "montserrat-medium";
  letter-spacing: 2px;
}

.form-content .individual-infos li input {
  display: block;
  width: 95%;
  margin: 0 auto 10px;
  border: none;
  border-bottom: 1px solid #afafaf;
  outline: none;
  padding: 10px 5px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
  font-size: 1rem;
  font-family: "montserrat-light";
  font-weight: 600;
  letter-spacing: 1px;
  color: #171d4c;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-content .individual-infos li input:hover {
  border-radius: 5px 5px 0 0;
  background: #f1f1f1;
}

.form-content .individual-infos li input:focus {
  padding: 10px 5px;
  border-bottom: 1px solid #273388;
  color: #273388;
}

.form-content .individual-infos .address {
  width: 99%;
  margin: 10px auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: "";
      grid-template-rows: "";
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  -webkit-box-align: "center";
      -ms-flex-align: "center";
          align-items: "center";
  list-style: none;
  text-align: left;
}

.form-content .individual-infos .address li {
  width: 97%;
  margin: 10px;
}

.form-content .individual-infos #mess {
  display: block;
  margin: 10px auto;
  border: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #afafaf;
  border-radius: 5px;
  padding: 5px 10px;
  resize: none;
  width: 93%;
  height: 100px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-size: 1rem;
  font-family: "montserrat-medium";
  color: #273388;
  outline: none;
}

.form-content .individual-infos #mess:hover {
  background: #f1f1f1;
}

.form-content .individual-infos #mess:focus {
  border: 1px solid #273388;
  border-radius: 10px;
  outline: none;
  color: #585858;
}

.form-content .individual-infos .submit-btn {
  width: 25%;
  margin: 20px auto;
  border: 2px solid #273388;
  border-radius: 10px;
  padding: 10px 5px;
  background: white;
  color: #171d4c;
  font-family: "montserrat-light";
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form-content .individual-infos .submit-btn:hover {
  border: 2px solid white;
  background: #171d4c;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 0 3px 5px #273388;
          box-shadow: 0 3px 5px #273388;
  text-shadow: 0 0 5px white;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 7vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-box-shadow: 0 2px 3px rgba(122, 122, 122, 0.504);
          box-shadow: 0 2px 3px rgba(122, 122, 122, 0.504);
}

.header-container .logo-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .logo-container img {
  max-height: 80%;
  padding: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-container .logo-container img:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.header-container .navigation {
  padding: 0;
  text-align: center;
  height: 100%;
}

.header-container .navigation .btn-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  z-index: 1;
}

.header-container .navigation .btn-container .nav-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  opacity: 1;
  z-index: 1;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.header-container .navigation .btn-container .nav-btn:first-child {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header-container .navigation .btn-container .nav-btn:first-child:hover {
  color: #273388;
}

.header-container .navigation .btn-container .nav-btn:first-child:after {
  position: absolute;
  content: "";
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0 2px 7px 2px;
  height: 20px;
  width: 35px;
  bottom: 7px;
  right: 7px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-container .navigation .btn-container .nav-btn:first-child:hover:after {
  border-right: 2px solid #273388;
  border-bottom: 2px solid #273388;
  height: 30px;
  width: 70px;
}

.header-container .navigation .btn-container .nav-btn li {
  font-family: "montserrat-light";
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-container .navigation .btn-container .nav-btn:hover .subtn-container {
  z-index: 0;
  -webkit-animation: inOut 0.3s forwards;
          animation: inOut 0.3s forwards;
  /*opacity: 1;
            transform: translateY(0);*/
}

.header-container .navigation .btn-container .subtn-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: 14vh;
  width: 100%;
  top: 7vh;
  list-style: none;
  opacity: 0;
  -webkit-box-shadow: 0 3px 3px rgba(122, 122, 122, 0.504);
          box-shadow: 0 3px 3px rgba(122, 122, 122, 0.504);
  border-radius: 0 0 10px 10px;
  -webkit-transform: translateY(-14vh);
          transform: translateY(-14vh);
  z-index: 1;
}

.header-container .navigation .btn-container .subtn-container .subtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: "";
      flex-wrap: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header-container .navigation .btn-container .subtn-container .subtn:before {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-left: 2px solid rgba(0, 0, 0, 0);
  border-radius: 2px 0 2px 7px;
  height: 0;
  width: 0;
  bottom: 7px;
  left: 7px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-container .navigation .btn-container .subtn-container .subtn:after {
  position: absolute;
  content: "";
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0 2px 7px 2px;
  height: 0;
  width: 0;
  bottom: 7px;
  right: 7px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header-container .navigation .btn-container .subtn-container .subtn:hover {
  color: #273388;
  text-shadow: 0 1px 3px rgba(122, 122, 122, 0.504);
}

.header-container .navigation .btn-container .subtn-container .subtn:hover:before {
  border-left: 2px solid #273388;
  border-bottom: 2px solid #273388;
  height: 30px;
  width: 30px;
}

.header-container .navigation .btn-container .subtn-container .subtn:hover:after {
  border-right: 2px solid #273388;
  border-bottom: 2px solid #273388;
  height: 30px;
  width: 30px;
}

.header-container .navigation .btn-container .subtn-container .subtn:last-child {
  border-radius: 0 0 10px 10px;
}

@-webkit-keyframes inOut {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
    border-radius: 0 0 10px 10px;
    -webkit-transform: translateY(-14vh);
            transform: translateY(-14vh);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(-14vh);
            transform: translateY(-14vh);
  }
  50% {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
    border-radius: 0 0 10px 10px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 3px 3px rgba(122, 122, 122, 0.504);
            box-shadow: 0 3px 3px rgba(122, 122, 122, 0.504);
    border-radius: 0 0 10px 10px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes inOut {
  0% {
    opacity: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
    border-radius: 0 0 10px 10px;
    -webkit-transform: translateY(-14vh);
            transform: translateY(-14vh);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(-14vh);
            transform: translateY(-14vh);
  }
  50% {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
    border-radius: 0 0 10px 10px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 3px 3px rgba(122, 122, 122, 0.504);
            box-shadow: 0 3px 3px rgba(122, 122, 122, 0.504);
    border-radius: 0 0 10px 10px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=index.css.map */